// primary colours

// Accessibility rating against #f4f6f8
$primary_red: #ce4747; /*AA large */
$primary_dull_red: #cb6c6c; /*AA large */
$primary_grey: #5c5c5c; /* AA */
$primary_coal: #303030; /* AAA */

//secondary colours

$secondary_white: #fdfdfd;
$secondary_lightgrey: #f4f6f8;
$secondary_grey: #9daec2;
$secondary_darkblue: #192e41;
